body {
    background-color: rgba(189, 213, 234, 0.8);
    color: black;
    font-size: 1.5em;
}

.navbar {
    border-bottom: solid 2px white;
}

p.navbar-brand {
    font-size: 2em;
    font-weight: 700;
}

a.navbar-brand img {
    margin-right: 20px;
}

.subtitle {
    font-size: 0.5em;
    font-weight: 300;
    margin-left: 10px;
}



h1 {
    color: 577399;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin-top: 80px;
    color: #D04E46;
    font-size: 2em;
}

li {
    margin-bottom: 10px;
}


hr {
    border: solid black 4px;
    width: 100%;
}

