<!DOCTYPE html>
<html>

  <head>
    <title>How to Hack: SQLi</title>

    <link rel="stylesheet" type="text/css" href="/sqli-static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/sqli-static/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  </head>

</body>
<nav class="navbar fixed-top navbar-inverse bg-inverse">
  <p class="navbar-brand">
    <img src="/sqli-static/images/sqli-logo.png" width="80" height="80" class="d-inline-block align-top" alt=""> &nbsp;&nbsp; SQL Injections
    <span class="text-muted subtitle">
      by: ' OR 1=1; DROP TABLE user;-- 
    </span>
  </p>
</nav>

<div class="container">
  <br><br><br>
  <h2>What is an SQL Injection?</h2>
  <p>
    <ul>
      <li>A type of web attack which uses specifically formatted query strings to access a SQL database in unintended ways</li>
      <li>Web apps are vulnerable if they do not filter user input before running SQL queries containing user input</li>
    </ul>   
  </p>

  <h2>What can it do?</h2>
  <p>
    <ul>
      <li>Can lead to stolen data, lost data, or fake data in/from an app’s database</li>
      <li>Some implementations of SQL can even run regular SQL shell commands, and therefore are very dangerous if left vulnerable</li>
      <li>Some past examples of companies/organizations that have been targeted By SQLi attacks include:
	<ul>
	  <li>McAfee</li>
	  <li>US Election Commission</li>
	  <li>Ubuntu Forums</li>
	  <li>Instagram</li>
	  <li>Facebook</li>
	  <li>Wordpress Security Plugin</li>
	</ul>
      </li>
    </ul>
  </p>

  <h2>Types of SQL Injections</h2>
  <p>
    <ul>
      <li>
	<b>First Order (Direct)</b>: An attack where the injected entry point is exploited and executed immediately (e.g. an attacker entering a malicious query into a login bar to immediately gain unwarranted access)
      </li>

      <li>
	<b>Second Order (Indirect)</b>: An attack where the entry point is used to store a malicious query to be executed at a later time, usually by another query (e.g. an attacker setting their username to something malicious, and then retreiving unwarranted data by corrupting future backend queries)
      </li>


      <li>
	<b>Blind Injection</b>: An attack where little to no data is sent back in response to a query, so an attacker must "sniff around" the database schema more tediously to retreive useful/important data (think of one robbing a house blindfolded)
      </li>
    </ul>
  </p>

  <br><br><br>
  <hr>
  <h1 class="display-1">Now let's hack!</h1>
  <h1 class="lead">
    We’ve created our very own <a href="/sqli/demo" target="_blank" style="font-size: 1.2em;" class="mx-1"> hackable website demo</a> for you to test out some SQL attacks!
</h4>
<hr>

<h2>You'll need to know these SQLite Concepts:</h2>
<p>
  <ul>
    <li><b>Double dash (--)</b> denotes an SQL comment
      <ul>
	<li>Much like the double slash (//) in Java or the octothorpe (<i>#</i>) in Python</li>
      </ul>
    </li>

    <li><b>UNION</b> (also called horizontal append) is an SQL keyword that lets you append rows to a previous query
      <ul>
	<li>Format: <span class="code">&lt;query1&gt; <b>UNION</b> &lt;query2&gt;</span></li>
	<li>Example: <span class="code">SELECT c1, c2, c3 FROM table1 <b>UNION</b> SELECT c1, c2, c3 FROM table2</span></li>
	<li>The number of columns in second query MUST equal the number of columns in first query. Otherwise you'd get a pretty lopsided-looking table!</li>
      </ul>
    </li>

    <li>
      <b>Numerical columns</b> (using a number instead of a column name)
      <ul>
	<li>Example: <span class="code">SELECT <b>1</b> FROM table1;</span></li>
	<li>This query returns a table with a “1” for every row in table1</li>
	<li>Often used for filler data, especially in conjunction with UNIONs</li>
      </ul>
    </li>
    
    <li>
      <b>sqlite_master</b> is a table that holds your tables
      <ul>
	<li>When creating an SQLite database, this <i>sqlite_master</i> table is automatically created to store the metadata/schema the tables you decide to create in the future</li>
	<li>Schema: <i>type TEXT,
	  name TEXT,
	  tbl_name TEXT,
	  rootpage INTEGER,
	    sql TEXT</i></li>
	<li>But for the purposes of our attack, this is what you should see and focus on:
	  <br><br>
	  <table class="table table-bordered table-inverse">
	    <thead>
	      <tr>
		<th>type (TEXT)</th>
		<th>name (TEXT)</th>
		<th class="text-muted lead">don't care</th>
		<th class="text-muted lead">don't care</th>
		<th>sql (TEXT)</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td>table</td>
		<td>&lt;table name&gt;</td>
		<td class="text-muted lead">--</td>
		<td class="text-muted lead">--</td>
		<td>&lt;Full SQL statement that created the table&gt;</td>
	      </tr>
	    </tbody>
	  </table>
	</li>
	
      </ul>
    </li>
  </ul>
</p>


<h2>Now onto hacking Bookface!</h2>
<p>
  <ul>
    <li>
      <b>Step 1:</b> Gain access into the system
      <ul>
	<li><b>Enter this as your username:</b> <span class="code"><b>' OR 1=1;-- </b></span></li>
	<li>You should be logged in! To understand why this works, we need to imagine the SQL query being run when we enter our username and password. It should look something like: <br>
	  <i><span class="code">SELECT * FROM user WHERE username='<b>&lt;username&gt;</b>' AND password='<b>&lt;password&gt;</b>'</span></i></li>
	<li>If we execute this query with our malicious username, it would evaluate to: <br>
	  <i><span class="code">SELECT * FROM user WHERE username='<b>' OR 1=1;-- </b><span class="text-muted">' AND password='&lt;password&gt;'</span></i></li></span>
	<li>The condition <b><i>WHERE username='' OR 1=1</i></b> will always return true, so the entire SELECT query returns all users in the <i>user</i> table.</li>
	<li>Our backend script just selected the first user, which in this case was a user called <i>demo</i>. This is why you're logged in as <i>demo</i>!</li>
      </ul>
    </li>
    
    <li>Now logged in, you should be presented with a search bar for user lookup. If you want to list every user on the site, then you can enter the same string you used to log in, by the same logic: <br>
      <span class="code"><b>' OR 1=1;-- </b></span></li>

    <li>
      <b>Step 2:</b> Find out what tables we have to exploit
      <ul>
	<li><b>Enter this as your search query:</b> <span class="code"><b>' UNION SELECT name, sql, <span style="color:darkred;">1, 1, 1</span> FROM sqlite_master;-- </b></span></li>
	<li>If you see a few entries giving you some database schema code, you did it!</li>
	<li>We just exploited the UNION keyword to add data to our query results that weren't meant to be added. Using our knowledge of the sqlite_master table, we're choosing to view every table's name and the query that created it.</li>
	<li>Notice the three <span style="color:darkred;"><b>1</b></span>'s we use for padding. We do this because the table returned from the backend has 5 columns, and you may recall that the malicious query we're appending MUST have the same number of columns.</li>
	<li>How did we know there are 5 columns returned by the backend? We used our inherent instincts of &nbsp;&nbsp;<b>G U E S S &nbsp;&nbsp; A N D &nbsp;&nbsp; C H E C K</b></li>
      </ul>
    </li>

    <li>You now know what data lies inside the <i>user</i> table! Does anything catch your eye?</li>
    </li>

    <li>
      <b>Step 3:</b> Gather the passwords
      <ul>
	<li><b>Enter this as your search query:</b> <span class="code"><b>' UNION SELECT username, password, 1, 1, 1 FROM user;-- </b></span></li>
	<li>See hashed passwords? You've done it!</li>
	<li>Enjoy your passwords! You can now do whatever you want with them: Sell them? Hold them for ransom? Submit them for a bug bounty? It's up to you! (But don't do anything with these passwords though, we swear they're fake)</li>
      </ul>
    </li>    
  </ul>
</p>

</div>
<br><br><br>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Copyright &copy; <b>Team ' OR 1=1; DROP TABLE user;-- </b> | William Xiang | Jack Schluger | Rodda John</span>
  </div>
</footer>

<script type="text/javascript" src="/sqli-static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/sqli-static/js/bootstrap.min.js"></script>

</body>
</html>
